{% extends "main/header.html" %}

{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'main/css/Testinghome.css' %}">

<div class="row">
        <div class="col s6 m6">
          <div class="card">
            <div class="card">
              <table>
                </head>
                  <body>
                    <table id="customers">

                <tr>
                  <th colspan="3"></th>
                </tr>
                <tr class='row1'>
                  <td><p id='1' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='2' class='testing1234'></p></td>
                </tr>
                <tr class='row2'>
                  <td><p id='3' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='4' class='testing1234'></p></td>
                </tr>
                <tr class='row3'>
                  <td><p id='5' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='6' class='testing1234'></p></td>
                </tr>
                <tr class='row4'>
                  <td><p id='7' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='8' class='testing1234'></p></td>
                </tr>
                <tr class='row5'>
                  <td><p id='9' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='10' class='testing1234'></p></td>
                </tr>
                <tr class='row6'>
                  <td><p id='11' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='12' class='testing1234'></p></td>
                </tr>
                <tr class='row7'>
                  <td id><p id='13' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='14' class='testing1234'></p></td>
                </tr>
                <tr class='row8'>
                  <td><p id='15' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='16' class='testing1234'></p></td>
                </tr>
                <tr class='row9'>
                  <td><p id='17' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='18' class='testing1234'></p></td>
                </tr>
                <tr class='row10'>
                  <td><p id='19' class='testing123'></p></td>
                  <td>V</td>
                  <td><p id='20' class='testing1234'></p></td>
                </tr>
              </table>
              <script type="text/javascript" src="{% static '/main/java/testinghome.js' %}"></script>
              <script>stampa();</script>

                            
            </div>
          </div>

          
        </div>
        
      </div>
    {% endblock %}