



{% load static %}
<link rel="stylesheet" href="{% static 'main/css/Testinghome.css' %}">
<link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Fixtures</title>
</head>
<body id = 'body'>



</table>
</body>
<script type="text/javascript" src="{% static '/main/java/testingpage.js' %}"></script>
<script> let boxes = document.getElementById("");
        let clone = boxes.firstElementChild.cloneNode(true);
        boxes.appendChild(clone);</script>

    
</div>
</html>


<style>


        
        
</style>