{% extends "main/header.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'main/css/Testinghome.css' %}">

<script>
    
    function renderPage(){

      var score = {{ score|safe }}
      var explain = {{ explain|safe }}
      var score_class = "score-medium";

      if(score > 65){
        score_class = "score-high";
      }
      if(score < 35){
        score_class = "score-low"
      }

      var html = "";
        html += '<table class="explainability">';
        html += '<tr><td width="30%"><div class="'+score_class+'">'+ score +'</div></td><td width="70%">';

          for(var i=0; i < explain.length; i++) {
            html += explain[i];
            html += "<br>";
          }

          html +='</td></tr></table>';

      document.getElementById('explainability').innerHTML = html;

      var homegames = {{ homegames|safe }};
      var awaygames = {{ awaygames|safe }};
      var urls = {{ urls|safe }};

      var counter = 0;
      var url_counter = 0;
      var html = "";

      for(var i=1; i<=38; i++) {
        html += '<div class="card" style="width: 80%; display: block; margin-left: auto; margin-right: auto; margin-top: 40px;">';
        html += '<table id="customers">';
        html += '<tr>';
        html += '<th colspan="3">Week ' + i + '</th>';
        html += '</tr>';

        for(var j=0; j<=9; j++) {
          html += "<tr class='row1'>";
          html += "<td><p class='testing123'><img class='Test-Logo2' src='"+urls[url_counter]+"'/><span style='margin-left: 50px'>"+homegames[counter]+"</span></p></td>";
          url_counter++;
          html += "<td>V</td>";
          html += "<td><p class='testing123'><img class='Test-Logo2' src='"+urls[url_counter]+"'/><span style='margin-left: 50px'>"+awaygames[counter]+"</span></p></td>";
          url_counter++;
          counter++;
        }
        
        html += '</table>';
        html += '</div>';

      }

      document.getElementById('output-wrapper').innerHTML = html;         

    }

  </script>
    
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card">
            
                  <table>
                    
                          </head>
                          <body onload="renderPage();">

                            <div id="explainability">

                              
                            </div>
                            
                            <div id="output-wrapper"></div>

                           
          </div>
        </div>
    
              
        </div>

    </div>
    {% endblock %}