/* Column Sizes for views */
.col-7-m{
    width:58.33333%}
.col-8-m{
    width:66.66667%}
.col-9-m{
    width:75%}
.col-10-m{
    width:83.33333%}
.col-11-m{
    width:91.66667%}
.col-12-m{
    width:100%}
.col-1-s{
    width:8.33333%}
.col-2-s{
    width:16.66667%}
.col-3-s{
    width:25%}
.col-4-s{
    width:33.33333%}
.col-5-s{
    width:41.66667%}
.col-6-s{
    width:50%}
.col-7-s{
    width:58.33333%}
.col-8-s{
    width:66.66667%}
.col-9-s{
    width:75%}
.col-10-s{
    width:83.33333%}
.col-11-s{
    width:91.66667%}
.col-12-s{
    width:100%}

h4{
    font-size:1.6rem}

h5{
    font-size:1.4rem}

h6{
    font-size:1.2rem}

h1,h2,h3,h4,h5,h6{
    font-family:PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;font-weight:400}


h1,h2,h3,h4,h5,h6,p{
    margin-top:0;margin-bottom:0}

ol,ul{
    padding-left:0;margin-top:0;margin-bottom:0}

b,strong{
    font-family:PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif}

html{
    font-size:62.5%}

body{
    background:#fff;font-family:PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;color:#242424;-webkit-text-size-adjust:100%;font-size:1.4rem;overflow-x:hidden;min-width:20em}





.navContainer{min-height:6rem}

.masthead{position:relative;z-index:100;}

.masthead{
    padding-bottom: 40px;
}


.masthead .pageLinks>li{float:left;position:relative}

.masthead .pageLinks>li.open .dropdown,.masthead .pageLinks>li:hover .dropdown{-webkit-transform:scale(1) translateX(-50%);transform:scale(1) translateX(-50%);visibility:visible}

.masthead .navOption,.masthead .pageLinks li,.masthead,.masthead a.navLink{
    position:relative}



.masthead .navLink{
display:block;color:#fff;text-decoration:none;padding:0 1.5rem;transition:all .2s ease-in-out;cursor:pointer;position:relative;font-family:PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif}



.masthead .navLink .chevron-down-sm-w{
    margin-left:.8rem;display:inline-block;vertical-align:baseline}


.masthead .dropdown{
    position:absolute;top:6rem;left:50%;background:#0036aa;min-width:100%;border-radius:0 0 2px 2px;-webkit-transform:scale(0) translateX(-50%);transform:scale(0) translateX(-50%);-webkit-transform-origin:left top;transform-origin:left top;transition:all .1s;visibility:hidden;z-index:10;padding:1rem 2rem;box-shadow:0 2px 3px rgba(0,0,0,.1);white-space:nowrap}

.masthead .dropdown:before{
    content:"";display:block;border:8px solid transparent;border-bottom-color:#0036aa;position:absolute;top:-16px;left:50%;margin-left:-8px}

.masthead .dropdown ul{
    -webkit-column-count:2;column-count:2;
text-align: center;color: #0036aa;}

.masthead .dropdown a{

    color:rgb(255, 255, 255);
}

.masthead .dropdown li{
    display:block;float:none;line-height:normal;-webkit-column-break-inside:avoid;}


.masthead .search{position:relative}


.masthead .navBar{background-image: url("bg-header.jpg"); line-height: 6rem; color:#fff; top:0; left:0; width:100%; transition:box-shadow .2s; z-index:10; position:relative; z-index:300; -webkit-backface-visibility:hidden;backface-visibility:hidden;}

.masthead .navBar:before{content:"";display:block}

.masthead .navBar:after{content:"";display:table;clear:both}

    

.masthead .mainNav .navLink,.masthead .navLink{
    font-size:1.8rem; padding:0 1rem; color: #0066A1;}
    


    @media (max-width:60.25em)
{.masthead{min-height:6rem;position:fixed;top:0;right:0;left:0}

.masthead .navBar,.masthead .navContainer{height:6rem;line-height:6rem}




.masthead .pageLinks>li:hover .navLink{
    
    background-image: url("bg-header.jpg")}

.masthead .pageLinks>li:hover .dropdown{
    
    display:none;-webkit-transform:none;transform:none}


.masthead .mainNav .navLink.active.active .dropdown{
    
    display:block}}

      